
body{
	box-sizing: border-box;
}
.doboz {
    border: 2px solid #565656;
    border-radius: 15px;
    background-color: rgb(210, 237, 250);
}


.lablec a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.lablec a:hover {
    font-style: italic;
    text-decoration: none;
    color: black;
}

p{
    text-align: justify;
}
.doboz table{
    border: 2px solid #565656;
    border-radius: 15px;
    background-color: rgb(210, 237, 250);
}
