*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body
{
    margin: 0px;

}

header
{
    height: 100px;
    padding:20px;
    text-align: right;
    background-image: url("kepek/erdely.jpg");
    background-position: center;
    color: white;
    
}
nav
{
    color: gold;
    padding-left: 50px;

}
nav a 
{
    color: green;
    text-decoration: none;
}
nav li
{
    list-style: none;
    padding: 10px;
}
nav ul
{
    padding: 0px;
}
nav a:hover li
{
    color:black;
    background-color: white;
}
footer
{
    text-align: center;
    min-height: 50px;
    padding-top: 25px;
}
.infobox
{
    margin:10px ;
    padding: 10px;
    border: 2px solid black;
    background-color: green;
    border-radius: 20px;
}
.infobox h3
{
    margin: 0px;
    text-align: center;
    background-color: blanchedalmond;
    border-bottom: 1px solid black;
}

.tartalom 
{
    padding: 15px;
    
}
.tartalom h2
{
    font-family: cursive;
    text-align: center;
    font-variant: small-caps;
}

header
{
    background-color: antiquewhite;
}
nav
{
    background-color: aqua;
}
.jobbsav
{
    background-color: blue;
}
.tartalom
{
    background-color: blueviolet;
}
footer
{
    background-color: coral;
}



#grid-container
{
    display: grid;
    grid-template-columns: auto;
}
/* mobil méret*/


/* tablet méret*/
@media only screen and (min-width:600px)
{
    footer{ background-color: green;}
    
    #grid-container
{
    display: grid;
    grid-template-columns: 25% 75%;
}
header{ grid-column: 1 / 3;}
nav{ grid-column: 1;}
.jobbsav{ grid-column: 1;}
.tartalom{ grid-column: 2; grid-row: 2 / 4;}
footer{ grid-column: 1 / 3;}
}

/* monitor */
@media only screen and (min-width:1200px)
{
    
    footer{ background-color: coral;}
    #grid-container
{
    display: grid;
    grid-template-columns: 25% 55% 20%;
    width: 1200px;
    margin: auto;
}
header{ grid-column: 1 / 4;}
nav{ grid-column: 1;}
.jobbsav{ grid-column: 3;}
.tartalom{ grid-column: 2; grid-row: 2;}
footer{ grid-column: 1 / 4;}
}


