*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
 
}
body
{
    margin: 0px;

}

header
{
    height: 100px;
    padding:20px;
    text-align: right;
    background-image: url("kepek/final.png");
    background-attachment: fixed;
    background-position: center;
    color: white;
    
}
nav
{
    color: gold;
    padding-left: 50px;

}
nav a 
{
    color: white;
    text-decoration: none;
}
nav li
{
    list-style: none;
    padding: 10px;
}
nav ul
{
    padding: 0px;
    color: white    ;
}
nav a:hover li
{
    color:black;
    background-color: white;
}
nav h3
{
    color: white;
}
footer
{
    text-align: center;
    min-height: 50px;
    padding-top: 25px;
}
.jobbsav
{
    color: white;
}
.infobox
{
    margin:10px ;
    padding: 10px;
    border: 2px solid black;
    background-color: gray;
    border-radius: 20px;
}
.infobox h3
{
    text-decoration: underline;
    margin: 0px;
    text-align: center;
}

.tartalom 
{
    padding: 15px;
    color: white;
    
}
.tartalom img
{
    max-width: 30%;
    float: left;
    margin-right:10px ;
}
.deva
{
    height: 40%;
}
.soba
{
  
    height: 40%;
}
.tartalom h2
{
    font-family: cursive;
    text-align: center;
    font-variant: small-caps;
}
.back
{
    text-align: right;
    color: white;
    font-size: larger;
    text-decoration: none;
}
.back a:hover
{
    color: black;
    background-color: white;
    text-decoration: none;
}
.to
{
    float: left;
    height: 50%;
    
}
.hat
{
    display: flex;
    justify-content: center;
    align-items: center;

}


header
{
    background-color: antiquewhite;
}
nav
{
    background-color: black;
}
.jobbsav
{
    background-color: black;
}
.tartalom
{
    background-color: gray;
}
footer
{
    background-color: gray;
}



#grid-container
{
    display: grid;
    grid-template-columns: auto;
}
footer h3
{
    color: white;
    text-align: center;
    vertical-align: middle;
}



@media only screen and (min-width: 600px){
    #grid-container{
        grid-template-columns: 25% 75%;
    }
    header{
        grid-column: 1/3;
        background-size: 1200px;
        background-position-y: 550px;
    }
    nav{
        grid-column: 1;
    }
    .jobb-sav{
        grid-column: 1;
    }
    .tartalom{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    footer{
        grid-column: 1/3;
    }
}
@media only screen and (min-width: 1200px){
    #grid-container{
        width: 1200px;
        grid-template-columns: 15% 60% 25%;
        margin: auto;
    }
    header{
        grid-column: 1/4;
        background-size: 1200px;
        background-position-y: 550px;
    }
    nav{
        grid-column: 1;
    }
    .jobb-sav{
        grid-column: 3/4;
        border-left: 2px solid steelblue;
    }
    .tartalom{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    footer{
        grid-column: 1/4;
    }
}
